<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-i-sheet-you-not.dev</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>01FDAE7B-7189-488D-BF30-F05BDD1A8E1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99EB2F55-72A7-4649-85FA-DAF514ADB356</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29259774-1638-463E-AC06-9F8AAEA6B941</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FC91D20-6F28-40E4-838E-4353FC68714E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BAB25FE-CD9C-4E59-83BA-41C722A15056</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6366A2B2-267B-41E7-A463-465164C5DC5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7EE115A7-3299-438E-BC8D-90FB03759830</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>View in Google Maps</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DABB6CA-310B-4696-B4B7-B72692AEA326</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99EB2F55-72A7-4649-85FA-DAF514ADB356</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6366A2B2-267B-41E7-A463-465164C5DC5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D21DE55-F8E2-4D93-92B5-D4CB30B0BDA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7EE115A7-3299-438E-BC8D-90FB03759830</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C55187A-DB7F-46B0-9A7C-A1E83138B3B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D21DE55-F8E2-4D93-92B5-D4CB30B0BDA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCBFFEDA-FD26-4BD1-9C0B-0CA0AEBCB4CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99EB2F55-72A7-4649-85FA-DAF514ADB356</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29259774-1638-463E-AC06-9F8AAEA6B941</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B07CB6F1-53EE-4C79-8840-B295710C86A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>559771CB-6C93-48AE-B309-C2377C2A6F7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C943DCE4-D71D-4A08-AFA1-9FCD97C7B545</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91F3758B-09E9-42DD-AE6C-0D593A625B64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D68999C3-7184-428B-9DFA-386F6517EDAC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02047F98-AA9D-466C-BFE5-8ECA33C9AF48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E12017AE-394B-42E2-A233-F565495FB7B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>041CD015-F665-46EB-A78C-C5D455AC813A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCBFFEDA-FD26-4BD1-9C0B-0CA0AEBCB4CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B6C95D4-84A8-418C-8C70-0828F5C9150E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Alfred 3 Script Filters based on your Excel files</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>I Sheet You Not (Dev)</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>isyn</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~</string>
				</array>
				<key>subtext</key>
				<string>Search for an Excel file to create a workflow from</string>
				<key>title</key>
				<string>I Sheet You Not: Find Excel file</string>
				<key>types</key>
				<array>
					<string>com.microsoft.excel.xls</string>
					<string>org.openxmlformats.spreadsheetml.sheet</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>3DABB6CA-310B-4696-B4B7-B72692AEA326</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>destdir="${alfred_workflow_cache}"
title="$1"


log() {
	echo "$@" &gt;&amp;2
}


log "Building workflow \"${title}\" in ${destdir} ..."
./buildme -ofr -n "${title}" -d "${destdir}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>02047F98-AA9D-466C-BFE5-8ECA33C9AF48</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>isyn</string>
				<key>subtext</key>
				<string>Enter a title for your workflow and hit ↩</string>
				<key>text</key>
				<string>I Sheet You Not: Create a new workflow</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D68999C3-7184-428B-9DFA-386F6517EDAC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>destdir="${alfred_workflow_cache}"
docpath="${xlspath}"
title="$1"


log() {
	echo "$@" &gt;&amp;2
}

# Change DOC_PATH
test -z "${xlspath}" || export DOC_PATH="${xlspath}"


log "Building workflow \"${title}\" in ${destdir} ..."
./buildme -ofr -n "${title}" -d "${destdir}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6FC91D20-6F28-40E4-838E-4353FC68714E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter a title for your new Workflow</string>
				<key>text</key>
				<string>Workflow Title</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>29259774-1638-463E-AC06-9F8AAEA6B941</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>xlspath</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>99EB2F55-72A7-4649-85FA-DAF514ADB356</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.microsoft.excel.xls</string>
					<string>org.openxmlformats.spreadsheetml.sheet</string>
				</array>
				<key>name</key>
				<string>I Sheet You Not: New Workflow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>01FDAE7B-7189-488D-BF30-F05BDD1A8E1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>isyndemo web</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching your file…</string>
				<key>script</key>
				<string># Override the variable passed in by Alfred
export SHEET=Websites

./isyn --row 2 --title 3
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Override workflow variables</string>
				<key>title</key>
				<string>[DEMO] I Sheet You Not: A List of Websites</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C943DCE4-D71D-4A08-AFA1-9FCD97C7B545</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>isyndemo names</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching your file…</string>
				<key>script</key>
				<string># Just run program
./isyn
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Basic example using the default settings</string>
				<key>title</key>
				<string>[DEMO] I Sheet You Not: Random Names</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B07CB6F1-53EE-4C79-8840-B295710C86A8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>91F3758B-09E9-42DD-AE6C-0D593A625B64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>559771CB-6C93-48AE-B309-C2377C2A6F7E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>isyndemo lfc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching your file…</string>
				<key>script</key>
				<string># Use VAR_XYZ envvars to extract extra "variables" from the Excel sheet.

# This will put the value of column 3 into the variable "year_joined"
export VAR_joined_year=3
export VAR_previous_club=4
export VAR_=joined_fee=5
export VAR_left_year=6
export VAR_next_club=7
export VAR_left_fee=8
export VAR_profile_url=9

./isyn --sheet 'Liverpool Transfers' --row 4 --title 2 --subtitle 11 --value 12</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Dynamic Alfred columns in spreadsheet</string>
				<key>title</key>
				<string>[DEMO] I Sheet You Not: Liverpool FC Transfers</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E12017AE-394B-42E2-A233-F565495FB7B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>isyndemo capitals</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching your file…</string>
				<key>script</key>
				<string># Dataset has no third column (value)

./isyn --sheet capitals --row 4 --title 2 --subtitle 3
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Unactionable results (no values)</string>
				<key>title</key>
				<string>[DEMO] I Sheet You Not: Capital Cities of the World</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EBA6947F-3DEB-46E2-BA49-1B346C041C9D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>041CD015-F665-46EB-A78C-C5D455AC813A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>{var:country} is in {var:region}

It has a population of {var:population}
and a GDP of USD {var:gdp}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>7B6C95D4-84A8-418C-8C70-0828F5C9150E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>isyndemo countries</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching your file…</string>
				<key>script</key>
				<string># Use VAR_XYZ envvars to extract extra "variables" from the Excel sheet.

# This will put the value of column 9 into the variable "gdp"
export VAR_gdp=9
# And col 2 in variable "region"
export VAR_region=2
export VAR_population=3
export VAR_country=1

./isyn --sheet countries --row 6 --title 1 --subtitle 2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Extract columns to Alfred variables</string>
				<key>title</key>
				<string>[DEMO] I Sheet You Not: Country Data</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2BAB25FE-CD9C-4E59-83BA-41C722A15056</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>8D21DE55-F8E2-4D93-92B5-D4CB30B0BDA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:region}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6366A2B2-267B-41E7-A463-465164C5DC5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>region</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FCBFFEDA-FD26-4BD1-9C0B-0CA0AEBCB4CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635216737</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>9C55187A-DB7F-46B0-9A7C-A1E83138B3B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:country}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7EE115A7-3299-438E-BC8D-90FB03759830</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>I Sheet You Not
===============

This workflow is a template. For each Excel search, you should make a copy of this workflow, and configure it for that file.</string>
	<key>uidata</key>
	<dict>
		<key>01FDAE7B-7189-488D-BF30-F05BDD1A8E1E</key>
		<dict>
			<key>note</key>
			<string>Create a new workflow from an Excel file.</string>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>02047F98-AA9D-466C-BFE5-8ECA33C9AF48</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>041CD015-F665-46EB-A78C-C5D455AC813A</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>29259774-1638-463E-AC06-9F8AAEA6B941</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>2BAB25FE-CD9C-4E59-83BA-41C722A15056</key>
		<dict>
			<key>note</key>
			<string>This example uses "VAR_xyz" environment variables to extract additional columns from the Excel worksheet.

These are passed as variables to following workflow actions. "VAR_thing" becomes the Alfred variable "thing".</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>3DABB6CA-310B-4696-B4B7-B72692AEA326</key>
		<dict>
			<key>note</key>
			<string>Search for an Excel file to create a workflow for.</string>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>559771CB-6C93-48AE-B309-C2377C2A6F7E</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>6366A2B2-267B-41E7-A463-465164C5DC5D</key>
		<dict>
			<key>note</key>
			<string>Format region variable</string>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>6FC91D20-6F28-40E4-838E-4353FC68714E</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>7B6C95D4-84A8-418C-8C70-0828F5C9150E</key>
		<dict>
			<key>note</key>
			<string>Semi-pretty print various statistics about the selected country.</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>7EE115A7-3299-438E-BC8D-90FB03759830</key>
		<dict>
			<key>note</key>
			<string>Pass "country" to Google Maps</string>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>1130</integer>
		</dict>
		<key>8D21DE55-F8E2-4D93-92B5-D4CB30B0BDA3</key>
		<dict>
			<key>note</key>
			<string>Camel Case</string>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>91F3758B-09E9-42DD-AE6C-0D593A625B64</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>99EB2F55-72A7-4649-85FA-DAF514ADB356</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>9C55187A-DB7F-46B0-9A7C-A1E83138B3B8</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
		<key>B07CB6F1-53EE-4C79-8840-B295710C86A8</key>
		<dict>
			<key>note</key>
			<string>This is a simple example of plugging an Excel file into Alfred.

The path to the file is set in the workflow's Configuration Sheet, and unless told otherwise, the workflow reads the first three columns of the first worksheet.</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>C943DCE4-D71D-4A08-AFA1-9FCD97C7B545</key>
		<dict>
			<key>note</key>
			<string>This example uses command-line options and environment variables to override the values specified (or not) in the Configuration Sheet (environment).

It also specifies the sheet and columns to load data from.</string>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>D68999C3-7184-428B-9DFA-386F6517EDAC</key>
		<dict>
			<key>note</key>
			<string>This action creates a new copy of this workflow with the name you specify and adds it to Alfred.</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>E12017AE-394B-42E2-A233-F565495FB7B7</key>
		<dict>
			<key>note</key>
			<string>This example dynamically generates a subtitle and value for Alfred (in the Excel worksheet).

It also loads quite a lot of data (~7500 cells).</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>EBA6947F-3DEB-46E2-BA49-1B346C041C9D</key>
		<dict>
			<key>note</key>
			<string>This example uses command-line options to override the values specified in the Configuration Sheet (environment).

It specifies no value, so you can't action results.</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>FCBFFEDA-FD26-4BD1-9C0B-0CA0AEBCB4CD</key>
		<dict>
			<key>note</key>
			<string>Set region to edited value</string>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>DEV</key>
		<string>1</string>
		<key>DOC_PATH</key>
		<string>./Demo.xlsx</string>
		<key>SHEET</key>
		<string></string>
		<key>START_ROW</key>
		<string></string>
		<key>SUBTITLE_COL</key>
		<string></string>
		<key>TITLE_COL</key>
		<string></string>
		<key>VALUE_COL</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>DEV</string>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>http://www.deanishe.net</string>
</dict>
</plist>
